// colors
$gray-dark: #222023;
$gray-med: #737373; 
$gray-light: #F0EEEE; 
$orange: #A48C71;
$black: #000;
$white: #fff;


//fonts
$font-stack: 'Montserrat', sans-serif;

$font-serif:'Roboto Slab', serif;

$desktop: "min-width: 1100px"; // Declare global breakpoints that everyone can reference.
$tablet: "max-width: 900px"; 
$mobile: "max-width: 900px"; 
$smallmobile: "max-width: 600px"; 

//for mixins
$smalldesktop-break: "960px"; 
$mobile-break: "900px"; 
$smallmobile-break: "600px"; 