footer{
	text-align: left; 
	background: $gray-dark; 
	color: #fff; 
	font-size: 12px; 
	padding: 60px 0px;
	text-transform: uppercase;
	letter-spacing: 2px; 
	a{
			color: $orange; 
		}
	.wrap{
		padding: 0 30px; 
	}
	.footer-disclaimers{
		width: 33%;
		float: left; 
		@include mobile-break{
			width: 100%;
			padding: 10px 0;
			text-align: center;
		}
	}
	.footer-logo{
		width: 33%;
		float: left; 
		text-align: center;
		@include mobile-break{
			width: 100%;
			padding: 10px; 
		}
		img{
			max-width: 150px; 
		}
	}
	.social{
		padding-bottom: 15px;
		float: right; 
		text-align: right; 
		width: 33%; 
		@include mobile-break{
			width: 100%;
			text-align: center;
		}
		.fab, .fas{
			font-size: 18px; 
			padding: 0px; 
			margin: 0 10px;
			border: 1px solid $orange; 
			border-radius: 50%; 
			width: 36px; 
			height: 36px; 
			line-height: 34px; 
			text-align: center;
			letter-spacing: 0; 
		}
	}
}

.footer-logo{
	 font-family: $font-serif; 
	 font-size: 16px; 
	 span{
		 display: block; 
		 margin-bottom: 20px; 
		 font-size: 12px; 
	 }
}



.footer-caption{
	background: rgba(255,255,255,.9);
	max-width: 600px; 
	padding: 40px 15px; 
	text-align: center; 
	margin: 0 auto; 
	display: block;
	h3{
		border-bottom: 1px solid #000; 
		display: inline;
		padding: 10px; 
		margin: 10px;
		clear: both;
	}
	p{
		display: block;
		clear: both;
	}
	p{
		font-size: 16px; 
		color: $gray-med; 
		letter-spacing: 2px; 
	}
}

.site-footer {
    border-top: 0px solid #eee;
    z-index: 99;
    position: relative;
}